body {
    background-image: url("https://dthezntil550i.cloudfront.net/wa/latest/wa1905111941284820009304074/1280_960/fd0f10e8-17e7-48a1-91c5-596e95aac41d.png");
    background-size:cover; 
    background-repeat: no-repeat;
}
.home {
    margin-left: 35%;
}

.homebox {
    width:400px;
    height:300px;
    background-color:rgba(221, 231, 250, 0.3);
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-radius:10px;
    padding:20px;
    margin-top:10px;
    color: rgb(198, 226, 251);
}

.link {
    text-decoration-line: none;
}